header{
  display: flex;
  gap: 10px;
  justify-content: center;
  background-color: rgb(196, 191, 191);
  padding: 15px;

  border-radius: 5px;
  box-shadow: 0 5px 5px black;
  margin:0px 5px 15px 5px;
}
header a{
  text-decoration: unset;
  color:unset ;
  letter-spacing: 1px;
  text-transform: uppercase;
 
  padding: 10px;
}

header a:hover{
  background-color: darkgray;
}